"*":
  "atom-beautify":
    general:
      _analyticsUserId: "fc14606d-d062-46fb-b0a7-5608b45ad514"
    js:
      indent_size: 2
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "language-c"
      "language-csharp"
      "language-go"
    ]
  editor:
    fontSize: 13
    invisibles: {}
  "exception-reporting":
    userId: "8234f8ef-bfdc-fbc4-f6c2-93b428019890"
  welcome:
    showOnStartup: false
